.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#tag-line{
  font-weight: 450;
  margin-left: 33%;
}

#logo{
  width: 55%;
  margin-top: 10%;
  margin-left: 20.4%;
}

#logo-profile{
  width: 50%;
  margin-left: 24.4%;
}


#landing-page-input{
  margin-top: 4%;
  margin-left: 32%;
}

.button {
  border: none;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}


.button:hover {
  background-color: #555555;
  color: white;
}

#add-awards{
  background-color: black; 
  border: none;
  color: white;
  padding: 4px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5px;
}

#add-awards:hover {
  background-color: #a6a6a6;
  color: black;
}


#back-button{
  margin-top: 20%;
  margin-left: 45%;
}


.left-column {
  float: left;
  width: 26%;
  padding: 5px;
  background-color: #a6a6a6;
  min-height: 500px;
  margin-left: 5%;
  margin-bottom: 100px;
}


.right-column {
  float: right;
  width: 60%;
  padding: 5px;
  background-color: #a6a6a6;
  min-height: 500px;
  margin-right: 5%;
  margin-bottom: 100px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

#education-title{
  text-align: center;
}

#new-education-btn{
  margin-left: 17%;
}


.schools-dropdown{
  margin-top: -15px;
  width: 97.5%;
  margin-left: 5px;
}

.form-control input {
  padding: 5px;
  margin: 5px;
  width: 95%;
  margin-bottom: 15px;
  border-color:  black;
  border-style: solid;
  border-width: thin;
  border-radius: 2px;
}

.awards-form-control input {
  padding: 5px;
  margin: 5px;
  width: 85%;
  border-radius: 2px;
  border-color:  black;
  border-style: solid;
  border-width: thin;
}

#description-input{
  width: 97%;
  border-color: black;
  height: 40px;
  border-radius: 2px;
  margin-top: 3px;
}

.awards-form-control  label {
  font-weight: 600;
  font-size: 15px;
}


.form-control label {
  font-weight: 600;
  font-size: 15px;
}

.welcome-title-box{
  text-align: center;
  margin-top: 20%;
}


#side-nav-titles:hover{
  cursor: pointer;
  color: #fff;
}

#side-nav-titles{
  padding: 5px;
}

.school-select{
  color: black;
  background-color: darkgray;
  border-style: solid;
  border-width: thin;
  border-color: black;
  padding: 5px;
  margin-top: -15px;
}

.school-select:hover{
  color: white;
  background-color: #5a5b61;
  border-style: solid;
  border-width: medium;
  border-color: black;
  cursor: pointer;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #3498db; /* Blue */
  border-radius: 50%;
  margin-top: 20px;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#degree-input-div{
  margin-top: 10px;
}